.home-wrapper {
  padding-bottom: 170px;
}

.home-title {
  margin: 36px 0px;
}

.tab-list-wrap {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 16px 0px;
}

.tab-list-wrap::-webkit-scrollbar {
  display: none;
}

.card-wrap {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-columns: auto;
  column-gap: 10px;
  row-gap: 16px;
}

@media screen and (max-width: 1280px) {
  .card-wrap {
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 900px) {
  .card-wrap {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 565px) {
  .card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.poke-card {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .poke-card {
    width: 275px;
  }
}

.poke-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}